.btn-gradient-pink {
    background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);

    &:hover {
        background-image: linear-gradient(135deg, #FCCF31 10%, #FCCF31 100%);
    }
}

.btn-white {
    background-color: transparent;
    color: white;
    width: 7rem;
    font-weight: bold;

    &:hover {
        background-color: white;
        border-color: transparent !important;
    }
}

.btn-adjust {
    width: 40vw;
    max-width: 17rem;
}

.panel-chat-head, .clickable {
    cursor: pointer;
}

.btn-swiper:hover {
    cursor: pointer;
}