.bg-app {
    background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
}

.app-blue {
    background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
    // background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
}

.app-pink {
    background-image: linear-gradient( 135deg, #FAD7A1 10%, #E96D71 100%);
}

.bg-receiver {
    // background-color: #dadada;
    background-color: $orange;
    color: white;
}

.border-orange {
    border-color: $orange !important;
}

.panel-chat-head:hover {
    background-color: rgba(0, 0, 0, .05);
}

.viewed {
    background-color: rgba(0, 0, 0, .05);
}

.icon-gradient-blue, .icon-gradient-blue:before {
    background: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}

.icon-gradient-yellow, .icon-gradient-yellow:before {
    background: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}

.icon-gradient-red, .icon-gradient-red:before {
    background: linear-gradient( 135deg, #FFF6B7 10%, #F6416C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}