.leader {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.leader-text {
    font-family: 'Cookie', cursive;
    // font-family: 'Playball', cursive;
    // font-family: 'Bitter', serif;
    // font-family: 'Source Serif Pro', serif;
    font-size: 3.75rem !important;
    text-shadow: 1px 1px 2px black;
}

.panel-setting-title {
    color: $orange;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}

.match-text {
    color: $cyan;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}

.panel-setting-title, .chat-profile-header, .app-text { font-family: 'Open Sans', sans-serif; }



@media screen and (min-width: 578px) {
    .leader-text {
        font-size: 8vw;
    }
}
