.panel {
    width: 85px;
    transition: all .25s ease-in-out;
    // background-color: #f3f3f3;

    .panel-pic {
        padding: .15rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
    }

    .panel-info-name {
        display: none;
    }

    .panel-body .panel-settings-container {
        min-width: 340px;
        display: block;
        max-width: 100%;
    }
}

.panel-settings-container {
    div:nth-child(n) {
        background-color: white;
    }
}

.content {
    width: calc(100vw - 85px);

    .content-body {

        .chat-tool {
            height: 8vh;

            #chat-content {
                outline: none;
                padding: .8rem 0;
                margin: 0 0 0 .55rem;
            }

            div#chat-content[contenteditable=true]:empty:before {
                content: attr(placeholder);
                color: #9c9c9c;
            }
        }
    }
}


// SIZING

.chat-content-container {
    height: 8vh;
    // max-height: fit-content;
    min-width: min-content;
    max-width: 600px;
}

.chat-preview                   { height: calc(92vh - 66px); }
.content-header-title           { max-width: 300px; }
.panel-header, .content-header  { height: 66px; }
.chat-profile                   { width: 100%; }
.chat-profile img               { width: 100%; }


// MESSAGING

.chat-preview-rec-msg, .chat-preview-sen-msg {
    max-width: 60%;
    word-break: break-word !important;
    overflow-wrap: break-word !important;

    .media-body div:nth-of-type(n) {
        width: fit-content;
    }
}


// VIEWPORT SIZING

@media screen and (max-width: 991px) {
    .panel:hover {
        min-width: 340px !important;

        .panel-info-name {
            display: inline !important;
        }
    }
}

@media screen and (min-width: 992px) {
    .panel {
        min-width: 340px !important;
        max-width: 340px !important;
    }

    .panel-info-name {
        display: inline !important;
    }
}

@media screen and (min-width: 1200px) {
    .chat-profile-container {
        width: 25%;
        max-width: 340px;
    }

    .chat-container {
        width: 75%;
    }
}


















// // Default size for small screen
// .panel-box {
//     width: 30%;
//     transition: All .5s ease-in-out;
// }

// // Hide right panel if screen is small
// .info-box {
//     display: none;
// }

// // Main Content Container
// .content-container {
//     height: 100vh;
//     width: 100%;
// }

// // Consumes 60% of the screen on hamburg icon click (small screen)
// .panel-box-show {
//     width: 60vw !important;
//     transition: All .5s ease-in-out;
// }

// .nav-invincible {
//     min-height: 82px;
// }

// // Chat person name max width for truncate
// .main-chat-info {
//     max-width: 200px;
// }

// @media screen and (min-width: 992px) {
//     .panel-info-name {
//         display: inline;
//     }

//     .panel-box, .info-box {
//         width: 30vw !important;
//         transition: All .5s ease-in-out;
//     }

//     #panel-toggler {
//         display: none;
//     }
// }