@media screen and (min-width: 768px) {
    .login-box {
        position: fixed;
        top: 45%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        width: 420px;
        padding: 3rem 1.25rem;
    }

    .login .btn-adjust {
        width: 10rem !important;
    }
}