@import 'bootstrap';
// @import 'fontawesome.scss';

@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims.scss';


// @import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

// @import url('https://fonts.googleapis.com/css?family=Cookie|Playball');
// @import url('https://fonts.googleapis.com/css?family=Bitter');
// @import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

@import 'override/variable.scss';
@import 'override/switch.scss';
// @import 'override/test.scss';

@import 'modules/login.scss';
@import 'modules/content.scss';

@import 'components/sizing.scss';
@import 'components/buttons.scss';
@import 'components/navbar.scss';
@import 'components/text.scss';
@import 'components/colors.scss';
